# Importando o Pandas

In [25]:
import pandas as pd

### Coletando dados dos empréstimos

In [26]:
dados_2010_1 = pd.read_csv('dados_emprestimos/emprestimos-20101.csv')
dados_2010_2 = pd.read_csv('dados_emprestimos/emprestimos-20102.csv')
dados_2011_1 = pd.read_csv('dados_emprestimos/emprestimos-20111.csv')
dados_2011_2 = pd.read_csv('dados_emprestimos/emprestimos-20112.csv')
dados_2012_1 = pd.read_csv('dados_emprestimos/emprestimos-20121.csv')
dados_2012_2 = pd.read_csv('dados_emprestimos/emprestimos-20122.csv')
dados_2013_1 = pd.read_csv('dados_emprestimos/emprestimos-20131.csv')
dados_2013_2 = pd.read_csv('dados_emprestimos/emprestimos-20132.csv')
dados_2014_1 = pd.read_csv('dados_emprestimos/emprestimos-20141.csv')
dados_2014_2 = pd.read_csv('dados_emprestimos/emprestimos-20142.csv')
dados_2015_1 = pd.read_csv('dados_emprestimos/emprestimos-20151.csv')
dados_2015_2 = pd.read_csv('dados_emprestimos/emprestimos-20152.csv')
dados_2016_1 = pd.read_csv('dados_emprestimos/emprestimos-20161.csv')
dados_2016_2 = pd.read_csv('dados_emprestimos/emprestimos-20162.csv')
dados_2017_1 = pd.read_csv('dados_emprestimos/emprestimos-20171.csv')
dados_2017_2 = pd.read_csv('dados_emprestimos/emprestimos-20172.csv')
dados_2018_1 = pd.read_csv('dados_emprestimos/emprestimos-20181.csv')
dados_2018_2 = pd.read_csv('dados_emprestimos/emprestimos-20182.csv')
dados_2019_1 = pd.read_csv('dados_emprestimos/emprestimos-20191.csv')
dados_2019_2 = pd.read_csv('dados_emprestimos/emprestimos-20192.csv')
dados_2020_1 = pd.read_csv('dados_emprestimos/emprestimos-20201.csv')

### Concatenando os empréstimo dos anos fornecidos

In [27]:
emprestimos_biblioteca = pd.concat([dados_2010_1,dados_2010_2,dados_2011_1,dados_2011_2,dados_2012_1,dados_2012_2,dados_2013_1,dados_2013_2,dados_2014_1,
                                    dados_2014_2,dados_2015_1,dados_2015_2,dados_2016_1,dados_2016_2,dados_2017_1,dados_2017_2,dados_2018_1,dados_2018_2,
                                    dados_2019_1,dados_2019_2,dados_2020_1],ignore_index=True)
emprestimos_biblioteca.shape

(2258018, 7)

In [28]:
emprestimos_biblioteca.value_counts().head(20)

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2351392        2015008037     2016/01/17 16:03:38.705000000  2016/01/02 10:12:01.529000000  2016/01/27 16:37:59.000000000  2.014036e+09        ALUNO DE GRADUAÇÃO        2
2351377        H011333        2016/01/31 07:31:36.658000000  2016/01/02 08:46:43.400000000  2016/02/22 16:10:40.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    2
2351376        H004983        2016/01/31 07:31:36.786000000  2016/01/02 08:46:42.991000000  2016/02/22 16:10:28.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    2
2351375        L057436        2016/01/31 07:30:36.293000000  2016/01/02 08:38:40.009000000  2016/02/21 13:16:29.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    2
2351385        2013114886     2016/01/16 07:41:19.590000000  2016/01/02 10:02:44.456000000  2016/01/30 07:52:10.000000000  2.015316e+09        ALUNO MÉDIO/TÉCNICO       2
2351386        2015005192     2016/01/16 07:41:19.537000000  2016/01/02 10:02:44.507000000  2016/01/30 07:52:07.000000000  2.015316e+09        ALUNO MÉDIO/TÉCNICO       2
2351387        2015004940     2016/01/16 07:41:19.473000000  2016/01/02 10:02:44.560000000  2016/01/30 07:52:00.000000000  2.015316e+09        ALUNO MÉDIO/TÉCNICO       2
2351391        L195470        2016/01/17 16:03:38.760000000  2016/01/02 10:12:01.462000000  2016/01/27 16:37:55.000000000  2.014036e+09        ALUNO DE GRADUAÇÃO        2
2351390        2015007050     2016/01/31 23:03:17.389000000  2016/01/02 10:08:27.720000000  2016/03/16 16:26:37.000000000  2.016101e+10        ALUNO DE PÓS-GRADUAÇÃO    2
2461099        2012008348     2016/06/27 20:35:46.855000000  2016/06/14 11:20:33.254000000  2016/07/11 14:37:29.000000000  2.015022e+09        ALUNO DE GRADUAÇÃO        2
709687         L184117        2010/01/18 11:07:46.470000000  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000  2.007211e+08        ALUNO DE GRADUAÇÃO        2
2336105        2014000897     2016/12/02 15:02:53.356000000  2016/11/10 16:55:19.851000000  2016/12/23 13:53:23.000000000  2.014071e+09        ALUNO DE GRADUAÇÃO        1
2336094        2014061804     2016/11/29 20:01:48.086000000  2016/11/10 16:50:59.860000000  2016/12/08 11:29:07.000000000  2.016103e+10        ALUNO DE PÓS-GRADUAÇÃO    1
2336096        C015883        2016/11/26 09:06:07.511000000  2016/11/10 16:51:29.585000000  2016/12/07 16:05:39.000000000  2.014058e+09        ALUNO DE GRADUAÇÃO        1
2336098        2012050674     2016/11/26 09:06:07.440000000  2016/11/10 16:51:29.758000000  2016/12/07 16:05:48.000000000  2.014058e+09        ALUNO DE GRADUAÇÃO        1
2336102        2014080061     2016/11/25 19:25:36.286000000  2016/11/10 16:54:52.348000000  2016/12/13 14:30:38.000000000  2.014047e+09        ALUNO DE GRADUAÇÃO        1
dtype: int64

### Excluindo duplicatas

In [29]:
emprestimos_biblioteca = emprestimos_biblioteca.drop_duplicates()

In [30]:
emprestimos_biblioteca.shape

(2257981, 7)

### Coletando os dados dos exemplares

In [31]:
exemplares_parquet = pd.read_parquet('C:/Users/gabri/Desktop/Pandas/Dia1/dados_exemplares.parquet')

### Transformando os dois DataFrames em um completo com todos os dados

In [32]:
dados_full = emprestimos_biblioteca.merge(exemplares_parquet)

In [33]:
dados_full

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072517,2989018,2009036492,NaN,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,2.015011e+10,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

### DIA 2
- Criar nova coluna com os valores da localização para refletir a classe geral da CDU
- Excluir a coluna "registro_sistema" pois não faz sentido para essa análise
- Transformar a coluna matricula_ou_siape em string

### Excluindo coluna

In [34]:
dados_full.drop(['registro_sistema'], axis=1, inplace=True)
dados_full.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647

### Criando uma categorização para a localização

In [35]:
def categorizacao(local):
    if local < 100:
        return 'Generalidades. Ciência e conhecimento'
    elif local < 200:
        return 'Filosofia e psicologia'
    elif local < 300:
        return 'Religião'
    elif local < 400:
        return 'Ciências sociais'
    elif local < 500:
        return 'Classe vaga. Provisoriamente não ocupada'
    elif local < 600:
        return 'Matemática e ciências naturais'
    elif local < 700:
        return 'Ciências aplicadas'
    elif local < 800:
        return 'Belas artes'
    elif local < 900:
        return 'Linguagem. Língua. Linguística'
    elif local < 1000:
        return 'Geografia. Biografia. História.'

### Aplicanto a categorização no DataFrame

In [41]:
dados_full['classe_CDU'] = dados_full['localizacao'].apply(categorizacao)

In [40]:
dados_full.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_CDU
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2008050352.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,200722565.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas

### Transformando a coluna 'matricula_ou_siape' em string

In [43]:
dados_full['matricula_ou_siape'] = dados_full['matricula_ou_siape'].astype('string')

In [44]:
dados_full.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_CDU
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2008050352.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,200722565.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas

### DIA 3
- Verificar a quantidade total de exemplares emprestados por cada ano e plotar um gráfico de linhas (Atente-se para a quantidade de exemplares emprestados, e não de empréstimos realizados)
- Fazer uma análise sobre o que foi gerado
- Verificar quais meses têm menor demanda para a diretoria programar férias aos colaboradores
- Acham que os maiores foram março e setembro, mas não foi realizada nenhuma análise
- Gere uma tabela com a quantidade total de exemplares emprestados por mês e descubra quais meses são os que possuem a maior quantidade de empréstimos realizados. Plote um gráfico de linhas.
- Verifique quais foram os horários com maior quantidade de empréstimos ao longo de um dia inteiro
- Plote um gráfico de barras e analise quais seriam os melhores horários para alocar as demais atividades que não sejam de atendimento ao usuário.